<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="css/tailwind.css">
</head>

<body>
    <div class="bg-black py-4 px-6 text-white">
        <div class="max-w-5xl mx-auto">
            <div class="flex w-full">
                <div class="sm:w-1/2 md:text-left text-center mx-auto">
                    <p class="text-sm font-bold">Free U.S. Shipping On Orders of $99 or More.* <br
                            class="sm:hidden" /><span class="font-light"><a href="#">See complete Details ></a></span>
                    </p>
                </div>
                <div class="hidden md:block md:flex sm:w-1/2 md:justify-end">
                    <div class="flex">
                        <img class="h-6" src="img/icon-phone.svg">
                        <p class="ml-2">1-844-970-4269</p>
                    </div>
                    <div class="flex ml-8">
                        <img class="h-6" src="img/icon-chat.svg">
                        <p class="ml-2">Contact Us</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="py-4">
                    <a href="#"><img class="hidden lg:block w-64" src="img/logo-desktop.png"><img class="lg:hidden w-24"
                            src="img/logo-mobile.png"></a>
                </div>
                <div>
                    <input type="text">
                </div>
                <div>
                    <div class="flex">
                        <a href="#"><img class="h-5" src="img/icon-user.svg"> Account <img class="h-3" src="img/arrow-d.svg"></a>
                    </div>
                    <div class="flex">
                        <a href="#"><img class="h-5" src="img/icon-cart.svg"> Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="flex bg-gray-100">
        <div class="px-8 py-12 max-w-md mx-auto sm:max-w-xl lg:max-w-full lg:w-1/2 lg:py-24 lg:px-12">
            <div class="max-w-lg ml-auto">
                <img class="h-10" src="img/logo.svg" />
            <img class="mt-6 sm:mt-8 sm:h-64 sm:w-full sm:object-cover sm:object-center rounded-lg shadow-xl lg:hidden" src="img/beach-work.jpg" />
            <h1 class="mt-6 sm:mt-8 text-2xl sm:text-4xl font-bold text-gray-700 leading-tight lg:text-4xl">You can work from anywhere.<br class="hidden lg:inline"/><span class="text-indigo-500">Take advantage of it.</span></h1>
            <p class="mt-2 sm:text-xl sm:mt-4 text-gray-500">This is some random p text.</p>
            <div class="mt-4 sm:mt-6">
                <a class="btn" href="#">Book your escape</a>
            </div>
            </div>
        </div>
        <div class="hidden lg:block lg:w-1/2 lg:relative">
            <img class="absolute inset-0 h-full w-full object-cover object-center" src="img/beach-work.jpg" />
        </div>
    </div> -->